/build/
/src/org/gc4mir/gui/GC4MIRMainScreen.java
/src/org/gc4mir/gui/GC4MIRMainScreen.form
/src/org/gc4mir/gui/NewJFrame.java
/src/org/gc4mir/gui/NewJFrame.form
/src/org/gc4mir/gui/dialogs/UseHelp.form
/src/org/gc4mir/gui/dialogs/UseHelp.java
/src/org/gc4mir/util/MainTests.java
/Instances.xml
/Taxonomy.xml
/classifications.xml
/experimentation_results_3.txt
/nbproject/genfiles.properties
/export/classifiers/assobio2/Taxonomy.xml
/feature_valuesFK.xml
/feature_valuesFV.xml
/feature_values_1.xml
/feature_definitions_1.xml
/experimentation_results_2.txt
/experimentation_results_1.txt
/experimentation_results_best_overall.txt
/export/classifiers/assobio/
/export/classifiers/assobio2/
/classifiers/Taxonomy-assbio-mfcc.xml
/classifiers/Taxonomy-assobio.xml
/classifiers/assobio.model
/classifiers/assobio2.model
/classifiers/bagda.model
/classifiers/Taxonomy-bagda.xml
/classifiers/Taxonomy-assobio2.xml
/classifiers/list
/base-dados.lnk
/feature_valuesFK - Copy.xml
/feature_valuesFV - Copy.xml
/classifiers/Taxonomy-dr1.xml
/classifiers/dr1.model
/classifiers/Taxonomy-assobio-teste-mfcc.xml
/classifiers/relatorio.model
/classifiers/Taxonomy-relatorio.xml
/classifiers/assobio-teste-mfcc.model
/docs-manual/